# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# ==========================================
# Jupyter
# ==========================================

.ipynb_checkpoints/

# ==========================================
# Raw datasets
# ==========================================

data/raw/

# Keep the directory structure
!data/raw/.gitkeep

# ==========================================
# OS files
# ==========================================

.DS_Store
Thumbs.db